doctype
html
    title
    body
        main.container
            section#root
                #{APP}
        script.
            window.__STATE__= !{STATE}
        script(type="text/javascript", src="/bundle.js")